.table {
  width: 100%;
  border-collapse: collapse;
  color: greenyellow;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid greenyellow;
}

.table th {
  background-color: tomato;
  color: #fff;
}

.table tr:hover {
  background-color: rgba(255, 99, 71, 0.3);
}

.table td {
  color: greenyellow;
}
